HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Instructions
.github/instructions/

uploads/3de2e755-9216-4277-a8b2-a5bcb2f2dbab_20250613-laporan-keuangan-publikasi-bulanan-mei-2025-ind.pdf

uploads/49093f6c-b5c1-4837-83e8-caa5419542dc_20250613-laporan-keuangan-publikasi-bulanan-mei-2025-ind.pdf

uploads/4d822bef-efea-4d4d-ba65-f7a8df357ca0_20250613-laporan-keuangan-publikasi-bulanan-mei-2025-ind.pdf

uploads/7293cb9c-a44a-4cae-931c-b9fff2296fb0_20250613-laporan-keuangan-publikasi-bulanan-mei-2025-ind.pdf

uploads/73c115e2-9c16-4256-8563-cdb7616e1735_20250613-laporan-keuangan-publikasi-bulanan-mei-2025-ind.pdf

uploads/a663ef00-bb91-437f-977e-2452383c503e_20250613-laporan-keuangan-publikasi-bulanan-mei-2025-ind.pdf

uploads/c6ff3f00-9cdf-44fa-85fe-d0e07f4bfc89_c4705cd289_4ea65fdb76.pdf

uploads/c8186b96-d470-4c9c-a8a1-60d2e43e92db_20250613-laporan-keuangan-publikasi-bulanan-mei-2025-ind.pdf

uploads/dd2f708f-3d23-465c-a3b8-fcac166eb1f4_20250613-laporan-keuangan-publikasi-bulanan-mei-2025-ind.pdf

uploads/fe145e06-b083-44e9-86ba-caf8a9666316_20250613-laporan-keuangan-publikasi-bulanan-mei-2025-ind.pdf
